{% extends "base.html" %}

{% block content %}
    <div class="col-md-6">
        <div class="row">
            <strong>{{ job.title }}</strong>
            <p>{{ job.employer.name }} - {{ job.employer.city}}, {{job.employer.state}}</p>
            <p>{{ job.job_description }}</p>
        </div>
        <div class="row">
            {% if user_type == 'seeker'%}
                <form method="GET" action="{% url 'jobs:apply' job.id%}">
                    <button type="submit" class="btn btn-default">Apply</button>
                </form>
            {% else %}
            {% endif %}
            
        </div>
    </div>
{% endblock content %}