.container {
  margin-bottom: 10px;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.profile {
  margin-top: 2%;
  border: 0.5px solid gray;
  /* padding-left: 2%;  */
}

.profile p {
  margin: 0.2%;
}

.profile-icons {
  /* margin: 2%; */
  position: relative;
  /* float: right; */
  display: inline-block;
  /* align-content: right;
  text-align: right; */
  margin-top: 1%;
  margin-right: 1%;
  color: red;
  font-size: 120%;
  /* border-radius: 50%;
  border: 1px solid rebeccapurple;   */
}

.job-title {
  font-size: 130%;
  color: rebeccapurple;
  font-weight: 800;
}

.job-index {
  margin: 0.1%;
}

.heading-custom {
  color: red;
  font-weight: 700;
  font-size: 140%;
}

.heading-custom2 {
  color: purple;
  font-weight: 700;
  font-size: 120%;
}

.button-container {
  display: inline-block;
  display: inline;
  float: left;
  vertical-align: middle;
}