{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <div class="row profile">
            <div class="col-md-8">
                <h4>Basics</h4>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>{{ user.email }}</p>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-link fa fa-pencil profile-icons" href="{% url 'seeker:profile-basics' user.id %}"  role="button"></a>
            </div>
        </div>
        <div class="row profile">
            <div class="col-md-8">
                <h4>Education</h4>
                {% for ed in schools %}
                    <hr>
                    <p>{{ ed.degree }} in {{ ed.major }} </p>
                    <p>{{ ed.education.name }}</p>
                    <p>{{ ed.year_started }} to {{ ed.year_ended }}</p>
                    <form action="/education/delete-ed/{{ed.id}}/" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link fa fa-trash-o profile-icons"></button>
                    </form>
                    {% comment %} <form action="">
                        <a class="btn btn-link fa fa-pencil profile-icons" href="#"  role="button"></a>
                    </form>  {% endcomment %}
                {% endfor %}
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-link fa fa-plus profile-icons" href="{% url 'education:create' %}" role="button"></a>
            </div>
        </div>
        <div class="row profile">
            <div class="col-md-8">
                <h4>Experience</h4>
                <p>Work Title</p>
                <p>Company Name - Location</p>
                <p>June 2016 - September 2017</p>
                <p>Description of the job</p> 
                <a class="btn btn-link fa fa-trash-o profile-icons" href="#" role="button"></a>
                <a class="btn btn-link fa fa-pencil profile-icons" href="#"  role="button"></a>   
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-link fa fa-plus profile-icons" href="#" role="button"></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <h4>Privacy Settings</h4>
        <form  method="POST" action="/seeker/profile/{{ user.id }}/">
            {% csrf_token %}
            <div class="radio">
                {% if user.seeker.visible %}
                    <button type="submit" class="btn btn-default">Make Profile Private</button>
                {% else %}
                    <button type="submit" class="btn btn-default">Make Profile Public</button>
                {% endif %}
                
                </div>
        </form>
    </div>
</div>

    
{% endblock content %}