{% extends "base.html" %}

{% block content %}
    <div class="col-md-6 col-md-offset-2">
        <div class="row profile">
            <div class="col-md-8">
                <h4>Basics</h4>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>{{ user.email }}</p>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-link fa fa-pencil profile-icons" href="{% url 'seeker:profile-basics' user.id %}"  role="button"></a>
            </div>
        </div>
        <div class="row profile">
            <div class="col-md-8">
                <h4>Education</h4>
                <p>BS in Computer Scienc</p>
                <p>CSUN</p>
                <p>Sep 2016 to Dec 2018</p>
                <a class="btn btn-link fa fa-trash-o profile-icons" href="#" role="button"></a>
                <a class="btn btn-link fa fa-pencil profile-icons" href="#"  role="button"></a>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-link fa fa-plus profile-icons" href="#" role="button"></a>
            </div>
        </div>
        <div class="row profile">
            <div class="col-md-8">
                <h4>Experience</h4>
                <p>Work Title</p>
                <p>Company Name - Location</p>
                <p>June 2016 - September 2017</p>
                <p>Description of the job</p> 
                <a class="btn btn-link fa fa-trash-o profile-icons" href="#" role="button"></a>
                <a class="btn btn-link fa fa-pencil profile-icons" href="#"  role="button"></a>   
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-link fa fa-plus profile-icons" href="#" role="button"></a>
            </div>
        </div>
    </div>
{% endblock content %}