{% extends "base.html" %}
{% load humanize %} 

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row profile">
            <div class="col-md-8">
                <h4>Basics</h4>
                <p>{{ employer.name }}</p>
                <p>{{ employer.user.email }}</p>
                <i>{{ employer.web_url }}</i>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-link fa fa-pencil profile-icons" href="{% url 'employer:profile-basics' employer.user.id %}"  role="button"></a>
            </div>
        </div>
        <div class="row profile">
            <div class="col-md-9">
                <h4>Jobs</h4>
                {% for j in jobs %}
                    <hr>
                    <strong>{{ j.title }}</strong>
                    <p>{{ j.job_type }}</p>
                    <strong>Job Description</strong>
                    <p>{{ j.job_description | truncatechars:200}}</p>
                    <strong>Salary</strong>
                    {% if j.salary_min and j.salary_max %}
                        <p>${{ j.salary_min|intcomma }} to ${{ j.salary_max|intcomma }}</p>
                    {% else %}
                    {% endif %}
                    <form action="{% url 'jobs:delete-job' j.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link fa fa-trash-o profile-icons"></button>
                    </form>
                {% endfor %}
            </div>
            <div class="col-md-3 text-right">
                <a class="btn btn-link fa fa-plus profile-icons" href="{% url 'jobs:add-job' %}" role="button"></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}