{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <div class="row profile">
            <div class="col-md-8">
                <h4>Basics</h4>
                <p>{{ employer.name }}</p>
                <p>{{ employer.user.email }}</p>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-link fa fa-pencil profile-icons" href="#"  role="button"></a>
            </div>
        </div>
        <div class="row profile">
            <div class="col-md-8">
                <h4>Jobs</h4>
                {% for j in jobs %}
                    <hr>
                    <p>Position Name</p>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link fa fa-trash-o profile-icons"></button>
                    </form>
                {% endfor %}
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-link fa fa-plus profile-icons" href="#" role="button"></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-0">
        <h4>Privacy Settings</h4>
        <form  method="POST" action="#">
            {% csrf_token %}
            {% if user.seeker.visible %}
                <button type="submit" class="btn btn-default">Make Profile Private</button>
            {% else %}
                <button type="submit" class="btn btn-default">Make Profile Public</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}